body {
  margin: 0;
  font-family: sans-serif;
}


#loader {
  position: fixed;
  inset: 0;
  background: #dd3667;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: opacity 0.3s ease, transform 0.6s ease;;
}

#loader img {
  width: 120px;
  animation: pulse 2.2s forwards ease-in-out;

}

.logo {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.logo-inner.anime {
 animation: dropRise 1s ease-out forwards;

}


@keyframes pulse {
  0% {
    transform: scale(0.2) rotate(0deg);
    opacity: 0;
    filter: blur(10px);
  }

  15% {
    transform: scale(2.2) rotate(10deg);
    opacity: 1;
    filter: blur(0);
  }

  25% {
    transform: scale(1.95) rotate(-5deg);
  }

  35% {
    transform: scale(2.05) rotate(3deg);
  }

  50% {
    transform: scale(2) rotate(0deg);
  }

  70% {
    transform: scale(2.2) rotate(-180deg);
  
  }

  100% {
    transform: scale(0.80) translateY(-45vh);
    opacity: 0.1;
    
  }
}


@keyframes dropRise {
  0% {
    transform: translateY(-22px) rotate(18deg);
  }

  25% {
    transform: translateY(10px) rotate(-6deg);
  }

  45% {
    transform: translateY(-6px) rotate(4deg);
  }

  65% {
    transform: translateY(3px) rotate(-2deg);
  }

  85% {
    transform: translateY(-1px) rotate(1deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}




#content {
  display: none;
  padding: 40px;
}